---
import Autorius from "../../components/Autorius.astro";
import Base from "../../layouts/Base.astro";
export async function getStaticPaths() {
  const API_URL = "http://localhost/wordpress/wp-json/wp/v2/straipsniai";
  const res = await fetch(`${API_URL}?acf_format=standard&per_page=20`);
  const blogs = await res.json();

  return blogs.map((blog) => ({
    params: { slug: blog.slug },
  }));
}

const API_URL = "http://localhost/wordpress/wp-json/wp/v2/straipsniai";
const res = await fetch(`${API_URL}?acf_format=standard&per_page=20`);
const blogs = await res.json();

const { slug } = Astro.params;

const blog = blogs.find((b) => b.slug === slug);
const five = blogs.slice(0, 5);

let showOverlay = false;
---

<style is:global>
  html {
    scroll-timeline: --page-scroll block;
  }

  h1 {
    margin-bottom: 1.2rem;
    color: var(--large-text-color);
    font-size: 28px;
  }

  h2 {
    margin-top: 4rem;
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  h2,
  h3 {
    color: var(--large-text-color);
    margin-bottom: 0.6rem;
  }

  .main-container {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 0 10%;
    gap: 5rem;
  }

  .content-text::before,
  .content-text::after {
    content: "";
    display: block;
    width: 10%;
    height: 2px;
    background-color: var(--large-text-color);
    margin: 2rem 0;
  }

  .content-text p {
    margin-bottom: 1rem;
    font-size: 18px;
    line-height: 1.8;
  }
  .content-text img {
    width: 500px;
    margin: 3rem 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
  }

  ol,
  ul {
    padding-left: 1.2rem;
    line-height: 2;
  }

  table {
    margin: 3rem 0;
  }

  th {
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 0.5rem;
  }

  td {
    background-color: var(--soft-background-color);
    padding: 0.5rem;
  }

  figure {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    width: 500px !important;
  }

  figcaption {
    text-align: center;
    margin-top: -2rem;
    font-size: 12px;
  }

  blockquote {
    background-color: var(--soft-background-color);
    padding: 1.5rem;
    border-radius: 1rem;
    position: relative;
    font-style: italic;
    margin: 2rem 0;
  }

  blockquote::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 6px;
    border-radius: 10px 0 0 10px;
    background-color: var(--primary-color);
  }

  .content-text blockquote p {
    margin-bottom: 0;
  }

  .icon {
    margin-top: 0.4rem;
    width: 2.5rem;
    height: 2.5rem;
  }

  .icon:first-of-type {
    margin-right: 0.7rem;
  }

  .popular-blog {
    font-size: 13px;
    margin: 0.8rem 0;
    border-top: 1px solid #383d431f;
    width: 90%;
    padding-top: 0.8rem;
    transition: all 0.3s ease;
  }

  .popular-blog:last-of-type {
    border-bottom: 1px solid #383d431f;
    padding-bottom: 0.8rem;
  }

  .popular-blog:hover {
    color: var(--primary-color);
  }

  .contacts {
    margin-bottom: 3rem;
  }

  .text-container {
    flex: 3;
    margin-bottom: 3rem;
  }

  .contact-container {
    flex: 1;
    border-left: 1px solid #383d431f;
    padding-left: 4rem;
  }

  .contacts {
    margin-bottom: 6rem;
  }

  .icon-container {
    margin-top: 1rem;
  }

  .contact-container h4 {
    position: relative;
    padding-left: 1rem;
  }

  .contact-container h4::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    border-radius: 10px 0 0 10px;
    background-color: var(--primary-color);
  }

  .literatura {
    font-size: 14px;
    cursor: pointer;
    color: #383d43af;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .overlay-content {
    background-color: var(--soft-background-color);
    padding: 2rem;
    border-radius: 8px;
    max-width: 700px;
    width: 90%;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .overlay-content ol {
    line-height: 1.4;
  }
  .overlay-content li {
    margin-bottom: 1rem;
  }

  .overlay-content li:last-of-type {
    margin-bottom: 0;
  }

  .overlay-content p {
    margin-bottom: 0.5rem;
  }

  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }

  .close-btn:hover {
    color: var(--primary-color);
  }

  @keyframes grow-progress {
    from {
      transform: scaleX(0);
    }
    to {
      transform: scaleX(1);
    }
  }

  #progress {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 1em;
    background: var(--primary-color);
    z-index: 99999;

    transform-origin: 0 50%;
    animation: grow-progress auto linear;
    animation-timeline: --page-scroll;
  }
</style>

<Base>
  <div class="main-container">
    <div class="text-container">
      <div id="progress"></div>
      <h1>{blog.title.rendered}</h1>
      <div class="content-text" set:html={blog.acf.kontentas} />
      <div>
        <div class="literatura" id="literatura-trigger">
          &lt;&lt; Literatūros sąrašas &gt;&gt;
        </div>

        <div class="overlay" id="literatura-overlay">
          <div class="overlay-content">
            <button class="close-btn" id="close-overlay">✕</button>
            <div set:html={blog.acf.literatura} />
          </div>
        </div>
      </div>
      <Autorius />
    </div>
    <div class="contact-container">
      <div class="contacts">
        <h4>Sekite mane:</h4>
        <div class="icon-container">
          <img class="icon" src="../src/assets/ig_black.png" alt="" />
          <img class="icon" src="../src/assets/fb_black.png" alt="" />
        </div>
      </div>
      <h4>Naujausi straipsniai</h4>
      <div class="popular">
        <ul>
          {
            five.map((blog) => (
              <li class="popular-blog">
                <a href={`/straipsnis/${blog.slug}`}>{blog.title.rendered}</a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </div>
</Base>

<script is:inline>
  document.addEventListener("DOMContentLoaded", () => {
    const trigger = document.getElementById("literatura-trigger");
    const overlay = document.getElementById("literatura-overlay");
    const closeBtn = document.getElementById("close-overlay");

    trigger.addEventListener("click", () => {
      overlay.style.display = "flex";
    });

    closeBtn.addEventListener("click", () => {
      overlay.style.display = "none";
    });

    overlay.addEventListener("click", (e) => {
      if (e.target === overlay) {
        overlay.style.display = "none";
      }
    });
  });
</script>
