---
import { Image } from "astro:assets";
import icon from "../../src/assets/user.png";
import crosses_background from "../../src/assets/crosses_background.svg";
import quotes from "../assets/quote.png";
---

<style>
  .user-icon {
    max-width: 4.375rem;
    max-height: 4.375rem;
  }

  .main-container {
    position: relative;
    padding: 0.94rem;
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h2 {
    color: var(--large-text-color);
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1.44rem;
    line-height: 1.2;
  }

  .vardas {
    color: var(--large-text-color);
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 3px;
  }

  .trumpesnis {
    width: 185px !important;
  }

  .card-text p {
    color: var(--body-text-color);
    font-size: 0.875rem;
    font-style: normal;
    line-height: 1.2;
    width: 220px;
  }

  .left-side {
    margin-bottom: 3rem;
    max-width: 25rem;
  }

  .card {
    display: flex;
    max-width: 25rem;
    height: 6.875rem;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--soft-background-color);
    border-radius: 0.625rem;
    padding: 0.3rem;
    padding-left: 1rem;
    filter: drop-shadow(0px 2px 5px rgba(20, 37, 61, 0.1));
    position: relative;
    transition:
      transform 0.3s ease,
      filter 0.3s ease,
      background-color 0.3s ease;
  }

  .card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 6px;
    border-radius: 10px 0 0 10px;
    background-color: var(--large-text-color);
    transition: background-color 0.3s ease;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
  }

  .card.active {
    transform: none;
  }

  .card.active::before {
    background-color: var(--large-text-color);
  }

  .cross {
    top: -14%;
    left: 75%;
  }

  .background-image {
    position: absolute;
    z-index: -2;
  }

  .quote {
    position: absolute;
    top: 10%;
    right: 5%;
    height: 26px;
    width: 26px;
    opacity: 20%;
  }

  .active-quote {
    opacity: 100%;
  }

  @media (min-width: 768px) {
    .cross {
      left: 30%;
      top: -10%;
    }

    .main-container {
      display: flex;
      align-items: center;
      gap: 5rem;
      margin-top: 8rem;
      margin-bottom: 8rem;
      flex-direction: row;
    }

    .left-side {
      max-width: 17rem;
      margin: 0;
    }

    .card.active {
      transform: translateX(-50px);
    }

    .card.active::before {
      background-color: var(--primary-color);
    }
  }

  @media (min-width: 1024px) {
    .cross {
      left: 12%;
      top: 0;
    }

    .main-container {
      margin-top: 10.75rem;
      justify-content: center;
      gap: 10.25rem;
      margin-bottom: 6.25rem;
    }
  }
</style>

<div class="main-container" id="testimonial-component">
  <div class="background-image cross">
    <Image src={crosses_background} alt="background-image" />
  </div>
  <div class="left-side">
    <h2>Ką klientai sako apie mane</h2>
    <p>
      Klientų atsiliepimai, kurie geriausiai atspindi mano darbo kokybę ir
      požiūrį.
    </p>
  </div>
  <div class="card-container">
    <div class="card">
      <Image class="quote" src={quotes} alt="quote" loading="lazy" />
      <Image class="user-icon" src={icon} alt="icon" loading="lazy" />
      <div class="card-text">
        <p class="vardas">Karolis</p>
        <p class="trumpesnis">
          Dominyko atsidavimas jo darbui vertas aplodismentu.
        </p>
      </div>
    </div>
    <div class="card" data-default>
      <Image class="quote" src={quotes} alt="quote" loading="lazy" />
      <Image class="user-icon" src={icon} alt="icon" loading="lazy" />
      <div class="card-text">
        <p class="vardas">Gediminas</p>
        <p>
          Dėmesys, nuoširdus rūpestingumas, rezultatas. Patinka. Rekomenduoju.
        </p>
      </div>
    </div>
    <div class="card">
      <Image class="quote" src={quotes} alt="quote" loading="lazy" />
      <Image class="user-icon" src={icon} alt="icon" loading="lazy" />
      <div class="card-text">
        <p class="vardas">Adomas</p>
        <p>
          Padėjo spręsti kelio skausmo problemą. Patiko paslaugų kaina
          efektyvumas ir profesionalumas.
        </p>
      </div>
    </div>
  </div>
</div>

<script>
  const container = document.querySelector("#testimonial-component");
  const cards = container.querySelectorAll(".card");

  if (window.matchMedia("(min-width: 768px)").matches) {
    let activeCard = container.querySelector(".card[data-default]");
    let activeQuote = activeCard?.querySelector(".quote");

    if (activeCard && activeQuote) {
      activeCard.classList.add("active");
      activeQuote.classList.add("active-quote");
    }

    function activateCard(card) {
      if (card === activeCard) return;

      activeCard.classList.remove("active");
      activeQuote.classList.remove("active-quote");

      card.classList.add("active");
      const newQuote = card.querySelector(".quote");
      newQuote?.classList.add("active-quote");

      activeCard = card;
      activeQuote = newQuote;
    }

    cards.forEach((card) => {
      card.addEventListener("mouseenter", () => activateCard(card));
    });
  }
</script>
