---
import { Image } from "astro:assets";
import consult from "../../src/assets/doctor-consultation.png";
import therapy from "../../src/assets/physical-therapy.png";
import exercise from "../../src/assets/exercising.png";
import dots_background from "../../src/assets/dots_background.svg";
import dots_background1 from "../../src/assets/dots_background1.svg";
---

<style>
  .background-image {
    position: absolute;
    z-index: -2;
  }
  .dots {
    top: 25%;
    left: 0.5%;
  }
  .dots1 {
    left: 58%;
    bottom: -14%;
  }

  .main-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card-icon {
    width: 3.75rem;
    height: 3.75rem;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    min-height: 320px;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.625rem;
    background: var(--soft-background-color);
    box-shadow: 0px 2px 5px 0px rgba(20, 37, 61, 0.1);
    padding: 1.25rem 1.5625rem;
    max-width: 21.875rem;
    transition: all 0.3s ease;
  }

  .card:hover {
    transform: scale(1.05);
    border: 1px solid var(--primary-color);
  }

  .card p {
    text-align: center;
    margin: 0.7rem 0;
  }

  h2 {
    color: var(--large-text-color);
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2.12rem;
    margin-top: 3.6rem;
    min-width: 16.375rem;
  }

  h3 {
    color: var(--large-text-color);
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 1.25rem;
  }

  .read {
    color: var(--primary-color);
    font-size: 0.75rem;
    font-weight: 500;
  }

  .link {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .underline {
    text-decoration: underline;
  }

  @media (min-width: 768px) {
    .card {
      max-width: 18.75rem;
    }

    h2 {
      margin-top: 6rem;
      font-size: 2.25rem;
      max-width: fit-content;
      margin-bottom: 2.75rem;
    }

    .card-container {
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
</style>

<div class="main-container">
  <div class="background-image dots">
    <Image src={dots_background} alt="background-image" />
  </div>
  <div class="background-image dots1">
    <Image src={dots_background1} alt="background-image" />
  </div>
  <h2>Paslaugos, kurias teikiu</h2>
  <div class="card-container">
    <a class="link" href="/paslaugos">
      <div class="card">
        <Image
          class="card-icon"
          src={consult}
          alt="konsultacija"
          loading="lazy"
        />
        <h3>Pradinė konsultacija</h3>
        <p>
          Įvertinu jūsų laikyseną, raumenų ir sąnarių būklę bei jų sąsają su
          skausmu ir parenku tinkamiausią gydymo būdą.
        </p>
        <div class="read-more">
          <a class="read" href="/paslaugos"
            ><span class="underline">Skaityti</span> <span>&rarr;</span></a
          >
        </div>
      </div>
    </a>
    <a class="link" href="/paslaugos">
      <div class="card">
        <Image class="card-icon" src={therapy} alt="Terapija" loading="lazy" />
        <h3>Manualinė terapija</h3>
        <p>
          Švelniais rankų judesiais padedu atpalaiduoti įsitempusius raumenis,
          pagerinti sąnarių judrumą ir sumažinti skausmą.
        </p>
        <div class="read-more">
          <a class="read" href="/paslaugos"
            ><span class="underline">Skaityti</span> <span>&rarr;</span></a
          >
        </div>
      </div>
    </a>
    <a class="link" href="/paslaugos">
      <div class="card">
        <Image class="card-icon" src={exercise} alt="Pratimai" loading="lazy" />
        <h3>Kineziterapija</h3>
        <p>
          Parenku individualiai pritaikytus pratimus pagal jūsų būklę, kurie
          padeda sumažinti skausmą ir atstatyti kūno funkcionalumą.
        </p>
        <div class="read-more">
          <a class="read" href="/paslaugos"
            ><span class="underline">Skaityti</span> <span>&rarr;</span></a
          >
        </div>
      </div>
    </a>
  </div>
</div>
