---
const getContent = async () => {
  const res = await fetch(
    "http://localhost/wordpress/wp-json/wp/v2/straipsniai?acf_format=standard&per_page=20"
  );
  const data = await res.json();
  return data;
};

const blogs = await getContent();
const top = blogs.slice(-3).reverse();

import crosses_background1 from "../../src/assets/crosses_background1.svg";
import dots_background2 from "../../src/assets/dots_background2.svg";
import { Image } from "astro:assets";
---

<style>
  .background-image {
    position: absolute;
    z-index: -2;
  }

  .cross1 {
    scale: 0.8;
    bottom: -10%;
    right: 5%;
  }

  h1 {
    color: var(--large-text-color);
    font-size: 2rem;
    font-weight: 600;
  }
  .blog-text {
    padding: 0.8rem 1.94rem 2.05rem 1.55rem;
    display: flex;
    flex-direction: column;
  }
  .popular-container {
    margin-top: 2.12rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: min(5rem, 2rem + 1vw);
  }
  .blog-card {
    width: 294px;
    background-color: var(--soft-background-color);
    border-radius: 0.625rem;
    filter: drop-shadow(0px 2px 5px rgba(20, 37, 61, 0.1));
    transition: all 0.3s ease;
  }
  .blog-card:hover {
    scale: 1.05;
    border: 1px solid var(--primary-color);
  }
  .main-image {
    width: 100%;
    height: 219px;
    object-fit: cover;
    border-top-left-radius: 0.625rem;
    border-top-right-radius: 0.625rem;
  }
  .title {
    color: var(--large-text-color);
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.2;
    margin-top: 0.62rem;
    margin-bottom: 0.37rem;
  }
  .excerpt {
    font-size: 0.75rem;
    font-weight: 400;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    min-width: 15.625rem;
    margin-bottom: 0.9rem;
  }
  .date {
    color: var(--primary-color);
    font-size: 0.6875rem;
    font-weight: 600;
    line-height: 160%;
  }
  .read {
    color: var(--background-color);
    font-size: 0.75rem;
    font-weight: 600;
    background-color: var(--primary-color);
    padding: 0.3rem 0;
    width: 7rem;
    text-align: center;
    border-radius: 0.3125rem;
    transition: all 0.3s ease;
  }

  .read:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
  }

  .blog-card:nth-child(2) .excerpt {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 1.29rem;
  }
  .blog-card:nth-child(3) .excerpt {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .header-container {
    display: flex;
    align-items: center;
    gap: 1.3rem;
    justify-content: center;
  }
  .skaityti-button {
    color: var(--large-text-color);
    font-size: 0.875rem;
    font-weight: 500;
    background-color: var(--soft-background-color);
    border-radius: 0.625rem;
    border: 2px solid var(--large-text-color);
    padding: 0.4rem 1.2rem;
    transition: all 0.3s ease;
  }
  .skaityti-button:hover {
    color: var(--background-color);
    background-color: var(--large-text-color);
    cursor: pointer;
  }
  .main-container {
    position: relative;
    margin-top: 3.7rem;
    margin-bottom: 7rem;
  }

  .dots1 {
    right: 1%;
    top: 5%;
  }

  .dots2 {
    left: 30%;
    bottom: -5%;
  }

  .stroke {
    background-image: url("/src/assets/stroke.svg");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 80%;
  }

  @media (min-width: 768px) {
    .cross1 {
      scale: 0.9;
      bottom: -28%;
      right: 5%;
    }

    .main-container {
      margin-top: 6.25rem;
    }

    .popular-container {
      flex-direction: row;
      justify-content: start;
      overflow-x: auto;
      min-height: 30rem;
      align-items: center;
    }
    .main-container {
      padding: 1rem;
    }
  }
  @media (min-width: 1024px) {
    .cross1 {
      scale: 1;
      bottom: -40%;
      right: 10%;
    }

    .header-container {
      justify-content: start;
      margin-left: 5%;
    }
    .popular-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: min(10rem, 1rem + 3vw);
      overflow: visible;
    }
  }
</style>

<div class="main-container">
  <div class="background-image cross1">
    <Image src={crosses_background1} alt="background-image" />
  </div>
  <div class="background-image dots1">
    <Image src={dots_background2} alt="background-image" />
  </div>
  <div class="background-image dots2">
    <Image src={dots_background2} alt="background-image" />
  </div>
  <div class="header-container">
    <h1><span class="stroke">Straipsniai</span></h1>
    <a class="skaityti-button" href="/straipsniai">Skaityti &rarr;</a>
  </div>
  <div class="popular-container">
    {
      top.map((blog) => (
        <div class="blog-card">
          <a class="link" href={`/straipsnis/${blog.slug}`}>
            <img
              class="main-image"
              src={blog.acf.pagrindine_nuotrauka}
              alt={blog.title.rendered}
            />
            <div class="blog-text">
              <p class="date">&#9678; {blog.acf.date}</p>
              <p class="title">{blog.title.rendered}</p>
              <p class="excerpt">{blog.acf.trumpas_aprasymas}</p>
              <a class="read" href={`/straipsnis/${blog.slug}`}>
                Skaityti plačiau
              </a>
            </div>
          </a>
        </div>
      ))
    }
  </div>
</div>
